<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div style="background: aliceblue; width: 100%; height: 50px;">
    <a style="padding: 10px" href="/">Strona główna</a>
    <a style="padding: 10px" class="col-sm" th:href="@{/add}">dodawanie użytkownika</a>
</div>
<section>
    <table class="table table-sm caption-top" style="margin-left: 50px">
        <caption class="fs-2 font-monospace text-dark">Lista użytkowników</caption>
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">imię</th>
            <th scope="col">nazwisko</th>
            <th scope="col">data urodzenia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.dateBirth}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>